.reveal div.half-col{
	display: inline-block;
	width: 43%;
	margin: 0 3% 3%;
	vertical-align: top;
}

.reveal div.col-header{
}

.reveal div.col-header.official-header{
	background: #3b5998;
	color: #FFF;
}
.reveal div.col-header.js-header{
	background: #F1DA4E;
	color: #323232;
}
.reveal div.col-header.react-header{
	background: #00bcd4;
	color: #FFF;
}

.reveal span.title-jest{
	color: #99424f;
	font-weight: bold;
}
.reveal span.title-enzyme{
	color: #fd5c63;
	font-weight: bold;
}